.body{
    background-color: black;
   padding: 20px;
   margin: auto;
    text-align: center;
}

table {
    border-collapse:collapse ;
    width: 20%;
  }
  
  th, tr{
     padding: 0px;
     text-align: right;
     border: 1px solid black;
  } 
  td, tr {
    border: 2px solid black;
    padding: 0px;
    text-align: right;
  }
  
  th {
    background-color: #f2f2f2;
  }
footer{
    font-style: normal;
    font-size: medium;
    border-bottom: #f2f2f2;
    padding: 0%;
    text-align: left;
    border-bottom: #f2f2f2;
  }
